* {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 100%; }

a {
  text-decoration: underline;
  color: #457ca9; }

p {
  line-height: 1.6; }

h4 {
  color: #457ca9;
  font-size: 18px; }

h5 {
  color: #675c57;
  font-size: 15px;
  font-weight: normal; }

.hr {
  height: 1px;
  width: 90%;
  border-top: 1px solid whitesmoke; }

/* ==== HELPER CLASSES */
.exp_width, .head_wrapper, .body_wrapper, .footer_wrapper, .full_width, .body_expanded {
  width: 100%; }

.padded, .cta_title_button_box {
  padding: 1em; }

.no_padding, .title_box .title, .nested_boxes .box p.no_padding {
  padding: 0; }

.no_margin {
  margin: 0 !important; }

.half_padding_top {
  padding-top: 0.5em; }

.padding_top, .nested_boxes .box p, .button {
  padding-top: 1em; }

.double_padding_top {
  padding-top: 2em; }

.half_margin_top, .halfvtopspace {
  margin-top: 0.5em; }

.margin_top, .vtopspace {
  margin-top: 1em; }

.double_margin_top, .vspace, .doublevtopspace, .vtopspace, .footer_box {
  margin-top: 2em; }

.half_padding_right {
  padding-right: 0.5em; }

.padding_right, .nested_boxes .box p {
  padding-right: 1em; }

.double_padding_right {
  padding-right: 2em; }

.half_margin_right, .title_box .title_logo, .text_image_box .thumb.to_left {
  margin-right: 0.5em; }

.margin_right {
  margin-right: 1em; }

.double_margin_right {
  margin-right: 2em; }

.half_padding_bottom {
  padding-bottom: 0.5em; }

.padding_bottom, .button {
  padding-bottom: 1em; }

.double_padding_bottom {
  padding-bottom: 2em; }

.half_margin_bottom, .halfvbottomspace {
  margin-bottom: 0.5em; }

.margin_bottom, .vbottomspace {
  margin-bottom: 1em; }

.double_margin_bottom, .vspace, .doublevbottomspace, .vbottomspace, .footer_box {
  margin-bottom: 2em; }

.half_padding_left {
  padding-left: 0.5em; }

.padding_left {
  padding-left: 1em; }

.double_padding_left {
  padding-left: 2em; }

.half_margin_left, .text_image_box .thumb.to_right {
  margin-left: 0.5em; }

.margin_left {
  margin-left: 1em; }

.double_margin_left {
  margin-left: 2em; }

.no_text_decoration {
  text-decoration: none !important; }

.color_white {
  color: white !important; }

.full_width, .body_expanded {
  width: 100%; }

.width_90 {
  width: 90% !important; }

.text_align_center {
  text-align: center; }

.clean {
  clear: both; }

.background_color_inherit {
  background-color: inherit !important; }

.small_text {
  font-size: 11px; }

/* ==== CORE CLASSES */
.head_wrapper, .body_wrapper, .footer_wrapper {
  margin: 0 auto; }

.head_wrapper {
  background-color: #457ca9; }

.body_wrapper {
  background-color: #e7f2f7; }

.footer_wrapper {
  background-color: white;
  border-top: 1px solid #F5F5F5; }

.container, .content {
  max-width: 670px;
  display: block;
  padding: 0;
  margin: 0 auto; }

.content {
  background-color: #e7f2f7;
  overflow: hidden; }

.header {
  background-color: #457ca9;
  color: white; }

.footer {
  background-color: white;
  color: dimgrey;
  font-size: 12px; }
  .footer p {
    color: dimgrey; }

.body {
  max-width: 520px;
  margin: 0 auto;
  background-color: white;
  font-size: 14px; }

.body_expanded {
  max-width: 670px;
  margin: 0 auto;
  background-color: white;
  font-size: 14px; }

.logo {
  text-align: center;
  width: 130px;
  margin: 0 auto;
  max-width: 130px; }
  .logo.width_inc {
    width: 180px;
    max-width: 180px; }
  .logo img {
    width: 100%; }

.title_box .title_logo {
  height: 27px;
  float: left; }
.title_box .title {
  color: #467daa;
  font-size: 27px;
  font-weight: bold; }
.title_box :after {
  clear: both; }

.text_box {
  max-width: 520px; }
  .text_box.full_width, .text_box.body_expanded {
    max-width: 100%; }
  .text_box p {
    line-height: 1.6; }

.image_box img {
  text-align: center;
  max-width: 520px;
  width: 100%; }
  .image_box img.full_width, .image_box img.body_expanded {
    width: 100%;
    max-width: 100%; }

.text_image_box .thumb {
  width: 170px;
  height: 170px;
  overflow: hidden; }
  .text_image_box .thumb.to_left {
    float: left; }
  .text_image_box .thumb.to_right {
    float: right; }
  .text_image_box .thumb img {
    width: 100%; }
.text_image_box p {
  line-height: 1.6; }
.text_image_box :after {
  clear: both; }

.cta_title_button_box {
  background-color: #FFF7A0;
  border: 1px solid #D6B651; }
  .cta_title_button_box a {
    text-decoration: none;
    color: white; }
  .cta_title_button_box .title {
    color: #467daa;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase; }

.nested_boxes.two .box {
  width: 260px; }
.nested_boxes.three .box {
  width: 160px; }
.nested_boxes .box {
  float: left; }
  .nested_boxes .box .thumb {
    width: 170px;
    padding-right: 13px;
    overflow: hidden; }
    .nested_boxes .box .thumb img {
      width: 100%; }
  .nested_boxes .box p {
    line-height: 1.6; }
.nested_boxes:after {
  clear: both; }
.nested_boxes .product_price {
  color: #675c57;
  font-size: 21px;
  font-weight: bold; }
  .nested_boxes .product_price.fix_position {
    position: relative;
    top: -5px; }

.socialbar {
  width: 100%;
  text-align: center; }
  .socialbar a {
    text-decoration: none; }
  .socialbar td {
    width: 32px;
    margin-right: 2px; }
    .socialbar td img {
      width: 30px;
      height: 30px; }

.useful_info {
  width: 100%;
  text-align: center; }
  .useful_info img {
    max-width: 100%; }

.team_info {
  text-align: center;
  width: 100%;
  margin: 0 auto; }

.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 1em auto 0 auto;
  font-weight: bold;
  text-align: center;
  width: 150px;
  color: white;
  text-decoration: none; }
  .button.blue {
    color: white;
    background-color: #4671B8; }
  .button.orange {
    color: white;
    background-color: #EB8838; }
  .button.bigger {
    font-size: 22px;
    padding: 0.75em 1em; }
